html,
body {
	box-sizing: border-box;
	overflow-x: hidden;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

a {
	color: inherit;
}

button,
input {
	font-size: inherit;
	font-family: inherit;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}
