body,
html {
	box-sizing: border-box;
	margin: 0;
	overflow-x: hidden;
}

:root {
	--theme-color-text: var(--sand-0);
	--theme-color-bg: var(--sand-11);
	--theme-font: var(--font-sans);
}

body {
	background-color: var(--theme-color-text);
	color: var(--theme-color-bg);
	font-family: var(--theme-font);
}

button {
	border: none;
	padding-block: var(--size-2);
	padding-inline: var(--size-5);
	color: var(--theme-color-text);
	background-color: var(--teal-6);
}

button:hover {
	color: var(--theme-color-bg);
	background-color: var(--teal-3);
}
