@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;350;400;500;600;700;800&display=swap');

html {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 350;
  font-size: 18px;
}


h1, h2, h3 {
  color: rgb(48, 4, 48);
  font-weight: 700;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}