.container {
	display: grid;
	background-color: azure;
}

.container > div > p {
	text-align: center;
	text-transform: uppercase;
}

.container > div > p::after {
	content: url('/icons/chevron-arrow-right.svg');
	margin-left: 0.2rem;
	width: 1cap;
	display: inline-block;
}
